[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
httpx = "*"
parsel = "*"
toml = "*"
deep-translator = "*"
pytz = "*"

[dev-packages]
pytest = "*"
blue = "*"
isort = "*"
ruff = "*"

[requires]
python_version = "3.11"
