:root {
  font-size: 20px;
}

body {
  background: #23395d;
}

* {
  box-sizing: border-box;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

.projects {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100vw;
  padding: 2rem;
}

.project {
  color: #000;
  background: #fff;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  border: 1px solid #000;
  border-radius: 7px;
  padding: 1rem;
  height: 250px;
  box-shadow: 1px 1px 10px black;
}

.project:visited {
  color: blueviolet;
}

.project__website, .project__title {
  font-size: 1.3rem;
  font-weight: bold;
}

nav {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.unread-messages-alert {
  text-align: center;
}

@media(max-width: 600px) {
  .projects {
    grid-template-columns: 1fr;
  }
}
