:root {
  font-size: 20px;
}

body {
  background: #000;
}

* {
  box-sizing: border-box;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100vw;
  padding: 1rem 0;
}

.project {
  background: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  border: 1px solid #000;
  border-radius: 7px;
  padding: 1rem;
  width: 500px;
}

.project a {
  color: #000;
}

.project a:visited {
  color: blueviolet;
}
