<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
</head>
<body>
  <div class="projects">
    {% for project in projects %}
      <a class="project" href="{{ project.url }}" target="_blank">
        <span class="project__title">{{ project.title }}</span>
        <span>{{ project.project_datetime.strftime('%d/%m/%Y %H:%M') }}</span>
      </a>
    {% endfor %}
  </div>
</body>
</html>
